@charset "utf-8";
*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
}
.container
{
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;

}

nav
{
    font-style: none;
    list-style: none;
}

header
{
    min-width: 100%;
    background-color: white ;
    overflow: hidden;
}
header div
{
    display: flex;
    justify-content: space-between;

}
.title
{
    height: 56px;
}
.title h1 {
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;

}



h1 {
    color: #FFF;
    font-size: 44px;
    margin-right: 40px;
    font-weight: 400;
}

h2 {
    margin-bottom: 25px;
    font-size: 32px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 80%;
    background-color: rgb(32, 185, 32);

    padding-left: 10vw;
    padding-right: 10vw;
}


nav {
    height: 56px;
    font-size: 100%;
    color: white;
    overflow: hidden;
}

nav ul {
    float: none;
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline;
    line-height: 56px;
}

nav ul li+li {
    margin-left: 0;
}

nav ul li a {
    display: inline-block;
    padding: 0 20px;
    background-color: transparent;
    font-size: 24px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: none;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}


footer{
    display: flex;
    justify-content: center;
}
